<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=dashboard" />
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/style1.css">
</head>

<body>
  <div class="grid-container">
    <%- include('../partials/header.ejs') %>
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>
        <a class="sidebar-list">
          <li class="sidebar-list-item"><a href="../dashboard/dashboard">Dashboard</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/products">Products</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/categories">Categories</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/customers">Customers</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/inventory">Inventory</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/createUser">CreateUser</a></li>
          <li class="sidebar-list-item"><a href="../dashboard/roles">Role </a></li>
          <li class="sidebar-list-item"><a href="/logout">Logout</a></li>
        </a>
      </aside>

      <div class="container">
        <h1>Create New User</h1><br><br>

        <div class="error" style="display: none;">
          <p>Error: Invalid details</p>
        </div>
        <form action="/api/users/create" method="POST">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" style="width: 50%;" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" style="width: 50%;" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" style="width: 50%;" required>

          <label for="role">Role:</label>
          <select id="role" name="role" style="width: 50%;" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value="superadmin">Super Admin</option>
          </select>
          <br>
          <br>
          <button type="submit" class="btn" style="width: 50%;">Create User</button>
        </form>
      </div>
  </div>
</body>

</html>