<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div class="grid-container">

        <%- include('../partials/header.ejs') %>
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">shopping_cart</span> STORE
                    </div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>
                <a class="sidebar-list">
                    <li class="sidebar-list-item"><a href="../dashboard/dashboard">Dashboard</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/products">Products</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/categories">Categories</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/customers">Customers</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/inventory">Inventory</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/createUser">CreateUser</a></li>
                    <li class="sidebar-list-item"><a href="../dashboard/roles">Role </a></li>
                    <li class="sidebar-list-item"><a href="/logout">Logout</a></li>
                </a>
            </aside>



            <div class="main-container">
                <div class="main-title">
                    <h2>Inventory</h2>
                </div>

                <div id="chart"></div>
            </div>
    </div>

    <script>
        var options = {
            chart: {
                type: 'bar',
                height: 350
            },
            series: [
                {
                    name: 'Sales',
                    data: [30, 40, 45, 50, 49, 60, 70, 91]
                }
            ],
            xaxis: {
                inventory: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
            },
            title: {
                text: 'Monthly Sales Data',
                align: 'center',
                style: {
                    fontSize: '20px',
                    fontWeight: 'bold'
                }
            },
            colors: ['#008FFB'],
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: false
                }
            }
        };


        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
</body>

</html>