<!DOCTYPE html>
<html>
<head>
  <title>Roles Dashboard</title>
</head>
<body>
  <h1>Welcome <%= user.name %> - Role: <%= user.role %></h1>
  <h2>This is the Super Admin Roles Dashboard</h2>
  <a href="/dashboard/logout">Logout</a>
</body>
</html>
